.metadata/
.recommenders/
.git/
RemoteSystemsTempFiles 
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.projects/pricer/.indexes/6f/26/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/pricer/.indexes/e4/92/22/81/7b/b7/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/pricer/.indexes/e4/b9/22/81/7b/b7/a6/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/pricer/.indexes/e4/b9/22/81/7b/b7/b5/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/pricer/.indexes/e4/b9/db/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/pricer/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/pricer/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/4.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/io.takari.stats.client.m2e.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1528275153.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.projects/pricer/.indexes/6f/26/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/pricer/.indexes/e4/92/22/81/7b/b7/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/pricer/.indexes/e4/b9/22/81/7b/b7/a6/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/pricer/.indexes/e4/b9/22/81/7b/b7/b5/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/pricer/.indexes/e4/b9/db/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/pricer/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/pricer/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/4.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/io.takari.stats.client.m2e.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1528275153.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_6
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_a_2.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_b_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_c_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_d_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_e_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_i
.metadata/.plugins/org.eclipse.m2e.core/nexus/c3b21ca2c3bb0055b121365e6b66653f/_1y.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/c3b21ca2c3bb0055b121365e6b66653f/_1y_2.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/c3b21ca2c3bb0055b121365e6b66653f/_1z.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/c3b21ca2c3bb0055b121365e6b66653f/_1z_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/c3b21ca2c3bb0055b121365e6b66653f/_20.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/c3b21ca2c3bb0055b121365e6b66653f/_21.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/c3b21ca2c3bb0055b121365e6b66653f/_22.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/c3b21ca2c3bb0055b121365e6b66653f/_23.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/c3b21ca2c3bb0055b121365e6b66653f/_24.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/c3b21ca2c3bb0055b121365e6b66653f/_25.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/c3b21ca2c3bb0055b121365e6b66653f/_26.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/c3b21ca2c3bb0055b121365e6b66653f/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/c3b21ca2c3bb0055b121365e6b66653f/segments_21
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/version.ini
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_1
