#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath


#############
## Idea
#############

target/
.idea/
.idea
.repository/
*.iml
*.iws