<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%-10d{HH:mm:ss}%-5level %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.prima" level="info"/>
    <logger name="org.springframework" level="error"/>

    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>
